List of requirements -
keras
git+https://www.github.com/keras-team/keras-contrib.git
matplotlib
numpy
scipy
pillow
#urllib
#skimage
scikit-image
#gzip
#pickle

Dataset used - fer2013 dataset - https://www.kaggle.com/msambare/fer2013 
